.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

table {
  border: 1px solid lightgray;
  font-size: 22px;
}

tbody {
  border-bottom: 1px solid lightgray;
}

th,
td {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 4px;
}

tbody > tr > td > a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: #fff;
}

tfoot {
  color: gray;
}

tfoot th {
  font-weight: normal;
}

.snackbar-wrapper-top-left,
.snackbar-wrapper-top-center,
.snackbar-wrapper-top-right {
  top: 20px;
}

.snackbar-wrapper-bottom-left,
.snackbar-wrapper-bottom-center,
.snackbar-wrapper-bottom-right {
  bottom: 20px;
}

.snackbar-wrapper-top-left,
.snackbar-wrapper-bottom-left {
  justify-content: flex-start;
}

.snackbar-wrapper-top-center,
.snackbar-wrapper-bottom-center {
  justify-content: center;
}

.snackbar-wrapper-top-right,
.snackbar-wrapper-bottom-right {
  justify-content: flex-end;
}
